/* for phone screen */
@media only screen and (max-width: 690px){
    body{
        background-color: rgb(199, 227, 253);
        min-width: 360px;
        max-width: 700px;
        margin-right: 20px;
    }
    .mobile{
        display: block;
    }
    /* first part */
    nav{
        display: flex;
        align-items: center;
        text-align: center;
    }
    #m-left,#m-right{
        font-size: 30px;
    }
    #m-left{
        display: flex;
    }
    #m-left:hover{
        translate: 45px 25px;
    }
    #m-hide{
        display: none;
    }
    /* main part */

    /* 1st section  */
    .section-1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 15px;
    }
    .section-1 img{
        height: 100%;
        width: 100%;
    }
    #left-info > p{
        font-size: 18px;
        width: 320px;
        height: 75px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #left-info>p:hover{
        transform: scale(1.05,1.05);
        transition: transform 3s ease-in-out;
        padding-bottom: 75px;
        overflow:visible;
        white-space:normal;
        background-color: #d3f7ef;
        padding-left: 20px;
        border-radius: 20px;
        box-shadow: 4px 4px #58B19F;
    }
    /* 2nd section  */
    .section-2 a{
        padding-left: 5px;
    }
    /* 3rd section  */
    .section-3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .store{
        width: 65%;
        height: 85%;
    }
    /* 4th section  */
    .section-4{
        display: flex;
        flex-direction: column;
    }
    #fname, #email{
        height: 20px;
        width: 250px;
    }
    #complain, #comment{
        height: 70px;
        width: 250px;
    }
    .form-2{
        margin-left: 30px;
    }
}
/* for tablet screen  */
@media only screen and (min-width: 691px) and (max-width: 1000px){
    body{
        background-color: rgb(228, 253, 170);
        min-width: 701;
        max-width: 1000;
        height: 15000px;
    }
    .mobile{
        display: block;
    }
    /* first part */
    nav{
        display: flex;
        align-items: center;
        text-align: center;
    }
    #m-left,#m-right{
        font-size: 30px;
    }
    #m-hide{
        display: none;
    }
    /* main part */
    /* 1st section  */
    .section-1{
        display: flex;
        flex-direction: column;
    }
    /* 2nd section  */
    /* 3rd section  */
    .section-3{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    /* 4th section  */
}